<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/vinculo</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    	<property name="show_sql">true</property>
 		
        <mapping class="com.vinculacion.app.model.Perfil"/>
        <mapping class="com.vinculacion.app.model.Usuarios"/>
        <mapping class="com.vinculacion.app.model.PeriodoAcademico"/>
        <mapping class="com.vinculacion.app.model.Nivel"/>
        <mapping class="com.vinculacion.app.model.Seccion"/>
        <mapping class="com.vinculacion.app.model.TipoDedicacion"/>
        <mapping class="com.vinculacion.app.model.Facultad"/>
        <mapping class="com.vinculacion.app.model.Genero"/>
        <mapping class="com.vinculacion.app.model.Cargo"/>
        <mapping class="com.vinculacion.app.model.CargoDepartamental"/>
        <mapping class="com.vinculacion.app.model.Escuela"/>
        <mapping class="com.vinculacion.app.model.Carreras"/>
        <mapping class="com.vinculacion.app.model.Empresa"/>
        <mapping class="com.vinculacion.app.model.Departamentos"/>
        <mapping class="com.vinculacion.app.model.Docente"/>
        <mapping class="com.vinculacion.app.model.Asignaturas"/>
        <mapping class="com.vinculacion.app.model.TipoDocumentoPracticas"/>
        <mapping class="com.vinculacion.app.model.DetalleDocenteAsignatura"/>
        <mapping class="com.vinculacion.app.model.DetalleCargoDocente"/>
        <mapping class="com.vinculacion.app.model.Empleados"/>
        <mapping class="com.vinculacion.app.model.HorarioPasantias"/>
        <mapping class="com.vinculacion.app.model.Estudiantes"/>
        <mapping class="com.vinculacion.app.model.Pasantias"/>
        <mapping class="com.vinculacion.app.model.InformePasantias"/>
    </session-factory>
</hibernate-configuration>
